body{
    background-color: dimgrey;
    text-align: center;
}
.titulo{
    background-color: purple;
    text-align: center;
    color: deepskyblue;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 30px;
}
#corpo{
    text-align: left;
    color: ghostwhite;
    padding-left: 30px;
    font-size: 20pt;
}
a:active{
    color: paleturquoise;
}
a:hover{
    color: chartreuse;
}